@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;

}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos do Dropdown */
.navigation .dropdown {
    position: relative;
    display: inline-block;
}

.navigation .dropdown-content {
    display: none;
    position: absolute;
    background-color: #729967;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}
.dropdown_menu-1{
    display: none;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: #729967;
}

.navigation .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.3s;
}

.navigation .dropdown-content a:hover {
    background-color: #527748;
    transition: background 0.3s;

}

.navigation .dropdown:hover .dropdown-content {
    display: block;
}

/* Ajuste para o hover no link principal */
.navigation .dropdown:hover a {
    background-color: #729967;
}
header .logo{
    position: relative;
    background-image: url(../img/logo.iwallet.jpg);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 1000;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #527748;
}

.content {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;     /* Centraliza o texto dentro do info */
}

.info {
    max-width: 800px;       /* Limita a largura do conteúdo */
    border-radius: 8px;     /* Bordas arredondadas opcional */
}

.content .info h2{
    color: #729967;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800px;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info h2 span{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    color:#fff
}

.content .info-btn{
    color: #fff;
    background: #729967;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background: #10360f;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #c2e4aa;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:not(:last-child){
    margin-right:60px;
}

.media-icons a:hover{
    transform: scale(1.5);
} 

.gHcmGR {
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(245, 245, 245);
    letter-spacing: -0.01em;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 10;
    text-align: center;
}